<div class="location-container">
  <ng-container *ngIf="!editing">
    <h1 class="location-name">
      {{info?.Name}}
    </h1>
    <p class="location-description" *ngIf="info?.Description">
      <i>
          {{info?.Description}}
        </i>
    </p>
  </ng-container>
  <ng-container *ngIf="editing">
    <input class="styled title" type="text" [(ngModel)]="info.Name" placeholder="Location Name" />
    <input class="styled description" type="text" [(ngModel)]="info.Description" placeholder="Describe this location" />
  </ng-container>
  <table class="table table-striped table-hover">
    <thead class="thead">
      <tr>
        <th>Name</th>
        <th>Brewery</th>
        <th>Style</th>
        <th>Size</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngIf="!contents || contents.length < 1">
        <td colspan="4">
          <ng-container *ngIf="!editing">
            Storage location is empty, time to order more beer!
          </ng-container>
          <ng-container *ngIf="editing">
            Beers will show here when you add them to this location!
          </ng-container>
        </td>
      </tr>
      <tr *ngFor="let keg of contents">
        <td>{{keg?.Beer?.BeerName}}</td>
        <td>{{keg?.Beer?.Brewery?.BreweryName}}</td>
        <td>{{keg?.Beer?.Style?.StyleName}}</td>
        <td>
          <ng-container *ngIf="keg?.Size">
            {{keg?.Size}} Barrel
          </ng-container>
        </td>
      </tr>
    </tbody>
  </table>
  <button type="button" name="submit" id="submit-location" class="btn btn-primary btn-lg btn-block" (click)="submitLocation()" *ngIf="editing">
    Submit
  </button>
</div>
