@import '../scss/_variables';

div, ul, h1, h2, h3, h4, p {
    color: $chalk-color;



}
a {
    color: $link-color;
}
h1, h2, h3, h4, li, dt {
    font-family: 'Schoolbell', cursive;
}



h1 {
    margin-bottom: 2em;
}

ul {
    margin: 0 0 1.5rem 0;
    line-height: 3rem;
    list-style-type: none;

    > li {
        font-size: 1.3rem;
        &:before {
            content: "*";
            text-indent: -5px;
        }
    }
}
