@import '../../scss/_variables';

.container-wide {
    width: 1540px;
}

.tap-section {
    .tap-container {
        background-image: url('/assets/img/chalkboard.png');
        padding: 2em 0 1px 0;
        box-shadow: inset 0px -20px 200px 20px rgba(0,0,0,0.8);

        &:after {
            content: "";
            display:block;
            height:40px;
            background: url('/assets/img/wood.jpg');
            box-shadow: inset 0px 10px 20px 0px rgb(49, 37, 19);
        }
    }

    &:after {
        content: "";
        display:block;
        height:200px;
        background: url('assets/img/brick.jpg');
        box-shadow: inset 0px 20px 100px 50px rgba(0, 0, 0, 0.72);

    }
}

.storage-section {
    &:before {
        content: "";
        display: block;
        height: 100px;
        background: url('assets/img/steel.jpg');
        box-shadow: inset 0px 20px 60px 0px rgba(255, 255, 255, 0.58);
        border-top: 2px solid #333;
        margin-bottom: 2em;
    }
    position: relative;
    //background: url('assets/img/dark-texture.jpg');
    background: #eee;
}

.arrow-buttons {
    height: 30px;
    width: 100%;
    margin-bottom: 10px;

    span {
        color: white;
        font-size: 26px;
        padding: 2px 5px;
        margin: 0 20px;
        opacity: 0.4;

        &:hover {
            opacity: 0.7;
        }
    }
}