@import '~bootstrap/scss/bootstrap-grid';
@import '../../scss/_variables';

.container-wide {
    width: 1540px;
}

/deep/ a {
    color: $link-color;
}

.tap-section {
    .tap-container {
        padding: 1em 0 1px 0;
        @include media-breakpoint-up(md) {
            height: calc(100vh - 380px);
            min-height: 600px;
        }
    }

    .divider-brick {
        height: 250px;
        background: url('assets/img/brick.jpg');
        box-shadow: inset 0px 20px 100px 50px rgba(0, 0, 0, 0.72);

    }
}

.storage-section {
    &:before {
        content: "";

        display: block;
        height: 100px;
        background: linear-gradient(rgba(201, 133, 98, 0.52), rgba(1,1,1,0), rgba(1,1,1,0)),url('assets/img/steel.jpg');
        border-top: 2px solid #333;
        margin-bottom: 2em;
    }
    position: relative;
    background: linear-gradient( rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.5) ), url('assets/img/steel.jpg');
    background-size: 500px 100%;
}

.arrow-buttons {
    height: 30px;
    width: 100%;
    margin-bottom: 10px;

    span {
        color: white;
        font-size: 26px;
        padding: 2px 5px;
        margin: 0 20px;
        opacity: 0.4;

        &:hover {
            opacity: 0.7;
        }
    }
}

