<section class="tap-section"> <!--parallax-scroll="0.5"-->
    <div class="tap-container">
        <div class="container container-wide">
            <div class="row justify-content-center hidden-lg-up">
                <div class="col-12" *ngFor="let tap of taps">
                    <tap [info]="tap" (remove)="removeTap($event)"></tap>
                </div>
            </div>
            <div class="hidden-md-down">
                <div class="row">
                    <div class="arrow-buttons align-items-center">
                        <span class="fa fa-chevron-left float-left" *ngIf="taps.length>4 && leftIndex>0" (click)="shiftLeft()"></span>
                        <span class="fa fa-chevron-right float-right" *ngIf="taps.length>4 && leftIndex<taps.length-4" (click)="shiftRight()"></span>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-md-3" *ngFor="let tap of getVisibleTaps(); let i = index">
                        <tap [info]="tap" [tapNum]="i" (remove)="removeTap($event)"></tap>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <chalkboard-bottom></chalkboard-bottom>
    <div class="divider-brick"></div>
</section>

<section class="storage-section">
    <div class="container container-wide">
        <ng-container *ngFor="let location of locations; let i = index">
            <div class="row" *ngIf="i%2 === 0">
                <div class="col-md-6">
                    <location [info]="locations[i]"></location>
                </div>
                <div class="col-md" *ngIf="i+1 < locations.length">
                    <location [info]="locations[i+1]"></location>
                </div>
            </div>
        </ng-container>
    </div>
</section>
