@import '../../scss/_variables';

* {
    &:not(.table) {
        font-family: 'Schoolbell', cursive;
    }

    color: $chalk-color;
}

a {
    color: $link-color;
}

h1 {
    margin-bottom: 2em;
}

ul {
    margin: 0 0 1.5rem 0;
    line-height: 3rem;
    list-style-type: none;

    > li {
        font-size: 1.3rem;
        font-family: 'Schoolbell', cursive;
        &:before {
            content: "*";
            text-indent: -5px;
        }
    }
}
