<section class="container">
  <h1>Matt Gold</h1>
  <div class="row">
    <div class="col-md">
      <h3>Recent Pours</h3>
      <table class="table">
        <tr>
          <td>5/5/2017 10:00 AM</td>
          <td><a routerLink="/info/beer/1">Sour Monkey</a></td>
          <td>8.2 oz</td>
        </tr>
        <tr>
          <td>5/5/2017 9:00 AM</td>
          <td><a routerLink="/info/beer/1">Sour Monkey</a></td>
          <td>4.6 oz</td>
        </tr>
        <tr>
          <td>5/5/2017 8:00 AM</td>
          <td><a routerLink="/info/beer/1">Sour Monkey</a></td>
          <td>3 oz</td>
        </tr>
      </table>
    </div>
    <div class="col-md">
      <h3>Stats</h3>
      <ul>
        <li>
          Total Volume Drunk
        </li>
        <li>
          Favorite Style
        </li>
        <li>Average ABV</li>
        <li>Average IBU</li>
        <li>Average SRM</li>
      </ul>
    </div>
  </div>
</section>

<chalkboard-bottom></chalkboard-bottom>
