@import '../../../scss/_variables';

.beer {
    font-size: 24px;
    margin: 0 20px;
    &.empty {
        color: rgba(255, 255, 255, .4);
    }
}

.beer-container {
    margin-bottom: 2rem;
    div {
        height: 2rem;
        margin-bottom: 1rem;
    }
}

.btn-hover {
    display: none;
}

:host:hover {
    .btn-hover{
        display:inline-block;
    }
}


form {
    margin-bottom: 2rem;
}
