@import '~bootstrap/scss/variables';
@import url('https://fonts.googleapis.com/css?family=Schoolbell');

$white: #fff;
$chalk-color: rgba(255,255,255,0.8);

$chalk-font: 'Schoolbell', cursive;
$link-color: rgba(122, 181, 232, 0.85);

$tap-color-1: #fc5b55;
$tap-color-2: #72f25e;
$tap-color-3: #fc6af0;
$tap-color-4: #7aafff;
