@import '~bootstrap/scss/bootstrap-grid';
@import '../../scss/_variables';

.container-wide {
    @include media-breakpoint-up(lg) {
        width: 1540px;
    }
}

.input-group-addon {
    color: #333;
    cursor: pointer;
}
