<add-poll 
  *ngIf="isEditing" 
  (submitted)="submitEdit($event)" 
  (cancelled)="isEditing=false" 
  [title]="poll.Title" 
  [description]="poll.Description" 
  [votesPerUser]="poll.VotesPerUser"
></add-poll>

<div *ngIf="!isEditing">
  <button *ngIf="isAdmin" class="btn btn-outline-danger pull-right" (click)="retirePoll()">Retire Poll</button>
  <h2>{{poll.Title}}</h2>
  <div class="votes-remaining" *ngIf="poll.Active">Votes Remaining <span class="badge" [ngClass]="votesRemaining() > 0 ? 'badge-info' : 'badge-danger'">{{votesRemaining()}}</span></div>
  <button *ngIf="isAdmin && !poll.Active" class="btn btn-outline-secondary pull-right" (click)="isEditing=true">Edit Poll</button>
  <p>{{poll.Description}}</p>
</div>

<div>
  <table class="table table-striped table-hover">
      <thead class="thead">
      <tr>
        <th>Beer Name</th>
        <th>Brewery</th>
        <th>Style</th>
        <th>Size</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
        <tr *ngFor="let pollBeer of poll.PollBeers">
          <td><a [routerLink]="'/info/beer/' + pollBeer.Beer.BeerId">{{pollBeer.Beer.BeerName}}</a></td>
          <td><a [routerLink]="'/info/brewery/' + pollBeer.Beer.Brewery.BreweryId">{{pollBeer.Beer.Brewery.BreweryName}}</a></td>
          <td><a [routerLink]="'/info/style/' + pollBeer.Beer.Style.StyleId">{{pollBeer.Beer.Style.StyleName}}</a></td>
          <td>{{pollBeer.Size}} Barrel</td>
          <td>
            <button *ngIf="poll.Active" type="button" class="btn btn-outline-secondary" [class.active]="votedForBeer(pollBeer.PollBeerId)" (click)="vote(pollBeer.PollBeerId)" [disabled]="!canVote()">
              <i class="fa fa-fw fa-thumbs-up"></i>
            </button>
            <button *ngIf="!poll.Active" type="button" class="btn btn-outline-danger" (click)="removeKegFromPoll(pollBeer.PollBeerId)">Remove</button>
          </td>
        </tr>
        <tr *ngIf="isAdmin && !poll.Active">
          <td colspan="5">
            <button *ngIf="!isAddingKeg" class="btn btn-outline-info" (click)="isAddingKeg=true">New Beer </button>
            <keg-add *ngIf="isAddingKeg" (cancelled)="isAddingKeg=false" (kegSubmitted)="addKegToPoll($event)"></keg-add>
          </td>
        </tr>
      </tbody>
    </table>
</div>
