<div class="location-container">
  <ng-container *ngIf="!editing">
    <button class="btn btn-outline-secondary pull-right btn-hover" type="button" (click)="editing=true" *ngIf="!isAddingKeg">Edit</button>
    <h2 class="location-name">
      {{info?.Name}}
    </h2>
    <p class="location-description" *ngIf="info?.Description">
      <i>
          {{info?.Description}}
        </i>
    </p>
    <table class="table table-striped table-hover">
      <thead class="thead">
      <tr>
        <th>Beer Name</th>
        <th>Style</th>
        <th>Size</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr *ngIf="!contents || contents.length < 1">
        <td colspan="4">
          <ng-container *ngIf="!editing">
            Storage location is empty, time to order more beer!
          </ng-container>
          <ng-container *ngIf="editing">
            Beers will show here when you add them to this location!
          </ng-container>
        </td>
      </tr>
      <ng-container *ngFor="let keg of contents">
        <tr>
          <td><a [routerLink]="'/info/beer/' + keg?.Beer?.BeerId">{{keg?.Beer?.BeerName}}</a></td>
          <td><a [routerLink]="'/info/style/' + keg?.Beer?.Style?.StyleId">{{keg?.Beer?.Style?.StyleName}}</a></td>
          <td>
            <ng-container *ngIf="keg?.Size">
              {{keg?.Size}} Barrel
            </ng-container>
          </td>
          <td>
            <keg-move [info]="keg" [taps]="taps" [locations]="otherLocations"></keg-move>
          </td>
        </tr>
      </ng-container>
      </tbody>
    </table>
  </ng-container>

  <div class="row" *ngIf="editing">
    <div class="col-md-6">
      <div class="form-group">
        <label>Location Name</label>
        <input class="form-control title" type="text" [(ngModel)]="info.Name" placeholder="Location Name" />
      </div>
      <div class="form-group">
        <label>Location Description</label>
        <input class="form-control description" type="text" [(ngModel)]="info.Description" placeholder="Describe this location" />
      </div>

      <button type="button" name="submit" id="edit-submit" class="btn btn-outline-success" (click)="submitLocation()">
        Submit
      </button>
      <button type="button" name="cancel" id="edit-cancel" class="btn btn-outline-danger pull-right" (click)="editing=false">
        Cancel
      </button>
    </div>
  </div>

  <form *ngIf="isAddingKeg" (ngSubmit)="submitNewKeg()">
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label>Beer</label>
          <input
                  placeholder="Search"
                  type="text"
                  name="newbeer"
                  class="form-control"
                  [(ngModel)]="beerToLoad"
                  [ngbTypeahead]="search"
                  [resultFormatter]="getBeerDisplay"
                  [inputFormatter]="getBeerName"
                  (selectItem)="beerSelected($event)"
                  showHint="true" />
        </div>
        <div class="form-group">
          <label>Keg Size</label>
          <select class="form-control" (change)="kegSizeToLoad = $event.target.value">
            <option value="">(Select Keg Size)</option>
            <option value="1/2">1/2 Barrel</option>
            <option value="1/4">1/4 Barrel</option>
            <option value="1/6">1/6 Barrel</option>
          </select>
        </div>
        <button type="submit" name="submit" id="keg-submit" class="btn btn-outline-success" [ngClass]="!kegSizeToLoad ? 'disabled': ''">
          Submit
        </button>
        <button type="button" name="cancel" id="keg-cancel" class="btn btn-outline-danger pull-right" (click)="isAddingKeg=false">
          Cancel
        </button>
      </div>
    </div>
  </form>

  <button class="btn btn-outline-info" type="button" (click)="isAddingKeg=true" *ngIf="!isAddingKeg && !editing">New Keg</button>
</div>
