<form (ngSubmit)="submitNewKeg()">
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label>Beer</label>
          <input
                  placeholder="Search"
                  type="text"
                  name="newbeer"
                  class="form-control"
                  [(ngModel)]="beerToLoad"
                  [ngbTypeahead]="search"
                  [resultFormatter]="getBeerDisplay"
                  [inputFormatter]="getBeerName"
                  (selectItem)="beerSelected($event)"
                  showHint="true" />
        </div>
        <div class="form-group">
          <label>Keg Size</label>
          <select class="form-control" (change)="kegSizeToLoad = $event.target.value">
            <option value="">(Select Keg Size)</option>
            <option value="1/2">1/2 Barrel</option>
            <option value="1/4">1/4 Barrel</option>
            <option value="1/6">1/6 Barrel</option>
          </select>
        </div>
        <button type="submit" name="submit" id="keg-submit" class="btn btn-outline-success" [ngClass]="!kegSizeToLoad ? 'disabled': ''">
          Submit
        </button>
        <button type="button" name="cancel" id="keg-cancel" class="btn btn-outline-danger pull-right" (click)="cancelKegAdd()">
          Cancel
        </button>
      </div>
    </div>
  </form>
