<div class="form-group text-right">
  <select class="form-control" (change)="selectedDestination = $event.target.value">
    <option value="">(Select Destination)</option>
      <option *ngFor="let tap of taps" [value]="'tap_'+tap.TapId">{{tap.TapName}}</option>
      <option *ngFor="let loc of locations" [value]="'loc_'+loc.LocationId">{{loc.Name}}</option>
  </select>

  <button type="button" class="btn btn-outline-info" [ngClass]="!selectedDestination ? 'disabled' : ''" (click)="moveKeg()">Move</button>
</div>



