<section class="container" *ngIf="!!beer">
  <h1>{{beer.BeerName}}</h1>

  <div class="row">
    <div class="col-md">
      <img class="beer-label" [src]="beer.LabelUrl" />
    </div>
    <div class="col-md">
      <dl>
        <dt>Brewery</dt>
        <dd><a [routerLink]="'/info/brewery/' + beer.Brewery?.BreweryId">{{beer.Brewery?.BreweryName}}</a></dd>
        <dt>Style</dt>
        <dd><a [routerLink]="'/info/style/' + beer.Style?.StyleId">{{beer.Style?.StyleName}}</a></dd>
        <dt>ABV</dt>
        <dd>{{beer.ABV}}</dd>
        <dt>IBU</dt>
        <dd>{{beer.IBU}}</dd>
      </dl>
    </div>
  </div>

  <div class="row">
    <div class="col-md">
      <h3>Description</h3>
      <p>
        {{beer.BeerDescription}}
      </p>
    </div>
  </div>

</section>

<chalkboard-bottom></chalkboard-bottom>

