<section class="container">
  <h1>Beer name</h1>
  <div class="row">
    <div class="col-md">
      <dl>
        <dt>Brewery</dt>
        <dd>name of brewery</dd>
        <dt>Style</dt>
        <dd>Milk Stout</dd>
      </dl>
    </div>
    <div class="col-md">
      <dl>
        <dt>Abv</dt>
        <dd>10%</dd>
      </dl>
    </div>
  </div>

  <h3>Description</h3>
  <p>Beer description Beer description Beer descriptionBeer description Beer description Beer description Beer description Beer description
    Beer description Beer description Beer descriptionBeer description Beer description Beer description Beer description Beer description
    Beer description Beer description Beer descriptionBeer description Beer description Beer description Beer description Beer description
    Beer description Beer description Beer descriptionBeer description Beer description Beer description Beer description Beer description
    Beer description Beer description Beer descriptionBeer description Beer description Beer description Beer description Beer description</p>
</section>

<chalkboard-bottom></chalkboard-bottom>

