@import '~bootstrap/scss/bootstrap-grid';
@import '../../../scss/_variables';

$tap-handle-height: 410px;
$tap-handle-width: 240px;

h1,h2,h3,h4,h5,p,span,input {
    font-family: $chalk-font;

    &.fa {
        font-family: 'FontAwesome';
    }
}

input {
    border-bottom: 1px solid $chalk-color;
}

.tap-card {
    background: none;
    border: none;
    color: $chalk-color;
    margin: 0;
    margin-bottom: 100px;

    @include media-breakpoint-up(md) {
        min-height: 500px;
    }

    &.tap-color-1 .tap-info:after {
        background: url('/assets/img/Divider_9 Line.png');
        content: "";
        display:block;
        height:20px;
        background-size: 100% 20px;
    }
    &.tap-color-2 .tap-info:after {
        background: url('/assets/img/Divider_20.png');
        content: "";
        display:block;
        height:20px;
        background-size: 100% 20px;
    }
    &.tap-color-3 .tap-info:after {
        background: url('/assets/img/Divider_17 Line.png');
        content: "";
        display:block;
        height:20px;
        background-size: 100% 20px;
    }
    &.tap-color-4 .tap-info:after {
        background: url('/assets/img/Divider_19.png');
        content: "";
        display:block;
        height:20px;
        background-size: 100% 20px;
    }

    .tap-info {
        padding-bottom: 0;
        margin-bottom: 2rem;
    }

    .edit-footer {
        display: block;
        width: 100%;
        margin: 2rem 0;
    }

    .rating {
        text-align: center;
        margin-bottom: 0.5rem;
        .fa-thumbs-up {
            color: $btn-success-bg;
        }
        .fa-thumbs-down {
            color: $btn-danger-bg;
        }
    }
    .like-buttons {
        button {
            margin: 1em;
            cursor: pointer;
        }
    }
}

.tap-title {
    font-size: 32px;
    font-weight: 500;
    line-height: 35px;
    margin-bottom: 8px;
    margin-top: 0px;
    text-align: center;
    width: 100%;
    color: $chalk-color;
    padding:0;
}

.tap-desc {
    font-size: 26px;
    font-style: italic;
    line-height: 35px;
    width: 100%;
    text-align: center;
    color: $chalk-color;
    margin-bottom: 14px;
    padding:0;
}

.beer-info {
    padding: 20px;

    .beer-title {
        font-size: 2rem;
        text-align: center;

        .tap-color-1 & a {
            color: $tap-color-1;
        }
        .tap-color-2 & a {
            color: $tap-color-2;
        }
        .tap-color-3 & a {
            color: $tap-color-3;
        }
        .tap-color-4 & a {
            color: $tap-color-4;
        }
    }

    ul.beer-details {
        margin: 0 0 1.5rem 0;
        line-height: 3rem;
        list-style-type: none;

        > li {
            font-size: 1.3rem;
            font-family: $chalk-font;
            &:before {
                content: "*";
                text-indent: -5px;
            }
        }
    }

    .beer-details-2 {
        text-align: center;
        margin-bottom: 0;
        font-size: 22px;
        span {
            padding: 0 10px;
        }
    }
}

.tap-handle {
    position: relative;

    .positioner {
        position: absolute;
        left: calc(50% - #{$tap-handle-width / 2});

        .tap-image-container {
            perspective: 1600px;
            perspective-origin: 50% 50px;

            .flip-container {
                transform-style: flat;
                transform-origin: center 400px;
                transition: transform 0.5s cubic-bezier(.57,-0.42,.46,1.4);
                transform: rotateX(0deg)  rotateZ(0deg);

                &.pouring {
                    transform: rotateX(-22deg)  rotateZ(15deg);
                }

                > img {
                    position: absolute;
                    width: $tap-handle-width;
                    height:$tap-handle-height;
                }
            }

            display:none;
            position: fixed;
            top: calc(100vh - #{$tap-handle-height});

            @media (min-height: $tap-handle-height-breakpoint) {
                display:block
            }


        }
    }


    .img-slider {
        position: absolute;
        left: 0;
        right: 0;
        width: 100%;
    }

    .img-drag {
        z-index: 1;
        position: absolute;
        top: -10px;
        left:-52px;
        font-size:140px;
        color: rgba(255,255,255,.6);
        background-color: transparent;
        cursor: move;
    }


    .tap-image {
        border-radius: 50%;
        height: 200px;
        width: 200px;
        border: 3px solid #a59680;
        background: #fff;
        position: relative;
        top:22px;
        left: 33px;
        overflow: hidden;
        transform: rotateY(30deg) rotateX(6deg);

        img {
            position: absolute;
            top: -9999px;
            bottom: -9999px;
            left: -9999px;
            right: -9999px;
            margin: auto;
        }
    }

    span.edit {
        position: absolute;
        color: $chalk-color;
        left: 12%;
        cursor: pointer;
        z-index: 1;
        display:none;
    }

    &:hover {
        span.edit {
            display: inline-block;
        }
    }
}

.amount-poured {
    font-size: 20px;
    padding: 15px;
}
