@import '~bootstrap/scss/bootstrap-grid';
@import '../../../scss/_variables';

$tap-color-1: #fc5b55;
$tap-color-2: #72f25e;
$tap-color-3: #fc6af0;
$tap-color-4: #7aafff;

h1,h2,h3,h4,h5,p,span,input {
    font-family: $chalk-font;

    &.fa {
        font-family: 'FontAwesome';
    }
}

input {
    border-bottom: 1px solid $chalk-color;
}

.tap-card {
    background: none;
    border: none;
    color: $chalk-color;
    margin: 0;
    margin-bottom: 100px;

    @include media-breakpoint-up(md) {
        min-height: 500px;
    }

    &.tap-color-1 .tap-info:after {
        background: url('/assets/img/Divider_9 Line.png');
        content: "";
        display:block;
        height:20px;
        background-size: 100% 20px;
    }
    &.tap-color-2 .tap-info:after {
        background: url('/assets/img/Divider_20.png');
        content: "";
        display:block;
        height:20px;
        background-size: 100% 20px;
    }
    &.tap-color-3 .tap-info:after {
        background: url('/assets/img/Divider_17 Line.png');
        content: "";
        display:block;
        height:20px;
        background-size: 100% 20px;
    }
    &.tap-color-4 .tap-info:after {
        background: url('/assets/img/Divider_19.png');
        content: "";
        display:block;
        height:20px;
        background-size: 100% 20px;
    }

    .tap-info {
        padding-bottom: 0;
    }

    .edit-header {
        display: block;
        width: 100%;
        height: 20px;

        .edit {
            float: right;
            display: none;
            cursor: pointer;
            opacity: 0.6;
            margin-right: 30px;
        }
        
        .delete {
            color: red;
            float: left;
            display: none;
            cursor: pointer;
            margin-left: 30px;
        }
    }

    .edit-footer {
        display: block;
        width: 100%;
    }

    .rating {
        text-align: center;
        margin-bottom: 0.5rem;
        .fa-thumbs-up {
            color: $btn-success-bg;
        }
        .fa-thumbs-down {
            color: $btn-danger-bg;
        }
    }
    .like-buttons {
        display: none;
        button {
            margin: 1em;
            cursor: pointer;
        }
    }

    &:hover {
        .edit-header {
            .edit {
                display: inline-block;
            }
            .delete {
                display: inline-block;
            }
        }
        .like-buttons {
            display: block;
        }
    }


}

.tap-title {
    font-size: 32px;
    font-weight: 500;
    line-height: 35px;
    margin-bottom: 8px;
    margin-top: 0px;
    text-align: center;
    width: 100%;
    color: $chalk-color;
    padding:0;
}

.tap-desc {
    font-size: 26px;
    font-style: italic;
    line-height: 35px;
    width: 100%;
    text-align: center;
    color: $chalk-color;
    margin-bottom: 14px;
    padding:0;
}

.beer-info {
    padding: 20px;

    .beer-title {
        font-size: 2rem;
        text-align: center;

        .tap-color-1 & a {
                color: $tap-color-1;
        }
        .tap-color-2 & a {
            color: $tap-color-2;
        }
        .tap-color-3 & a {
            color: $tap-color-3;
        }
        .tap-color-4 & a {
            color: $tap-color-4;
        }
    }

    ul.beer-details {
        margin: 0 0 1.5rem 0;
        line-height: 3rem;
        list-style-type: none;

        > li {
            font-size: 1.3rem;
            font-family: 'Schoolbell', cursive;
            &:before {
                content: "*";
                text-indent: -5px;
            }
        }
    }

    .beer-details-2 {
        text-align: center;
        margin-bottom: 0;

        span {
            padding: 0 10px;
        }
    }
}

.tap-handle {
    position: absolute;
    left: 0;
    right: 0;
    top: calc(100vh - 480px);

    img {
        position: absolute;
        top: -22px;
        left: -9999px;
        right: -9999px;
        margin: auto;
        width: 240px;
    }

    .tap-image {
        border-radius: 50%;
        height:200px;
        width:200px;
        border: 3px solid #a59680;
        background: #fff;
        position:relative;
        right: -13px;
        overflow:hidden;
        margin: 0 auto;

        transform: rotateY(30deg) rotateX(6deg);

        img {
            position:absolute;
            max-height:120%;
            max-width: 200%;
            top: -9999px;
            bottom: -9999px;
            left: -9999px;
            right: -9999px;
            margin: auto;
        }
    }
}

.keg-progress-bar {
    background: url('assets/img/chalk_progress_border.png') no-repeat;
    height: 30px;
    margin: 0 auto;
    width: 90%;
    max-width: 297px;
    position: relative;

    @include media-breakpoint-up(lg) {
        &:before {
            font-family: 'Schoolbell', cursive;
            content: 'E';
            position: absolute;
            left: -15px;
            top: 0;
        }
        &:after {
            font-family: 'Schoolbell', cursive;
            content: 'F';
            position: absolute;
            right: -15px;
            top: 0;
        }
    }

    > .keg-progress-fill {
        mask-image: url('assets/img/chalk_progress_fill.png');
        -webkit-mask-image: url('assets/img/chalk_progress_fill.png');
        height: 30px;
        background-repeat: no-repeat;
        .tap-color-1 & {
            background-color: $tap-color-1;
        }
        .tap-color-2 & {
            background-color: $tap-color-2;
        }
        .tap-color-3 & {
          background-color: $tap-color-3;
        }
        .tap-color-4 & {
          background-color: $tap-color-4;
        }
    }
}

