@import url('https://fonts.googleapis.com/css?family=Schoolbell');

* {
    font-family: 'Schoolbell', cursive;
}

.card {
    background: none;
    border: none;

   @media(max-width: 767px) {
       margin: 20px 0;
   }

    .tap-info {
        &:after {
            content: "";
            display:block;
            background: url('../../../assets/img/Divider_9 Line.png');
            height:20px;
            background-size: 100% 20px;
        }
    }
}

.tap-title {
    text-align: center;
    color: rgba(255,255,255,0.85);
}

.beer-info {
    text-align: center;
    margin-bottom: 0;

    span {
        padding: 0 10px;
    }
}

.beer-details {
    .beer-title {
        color: #a59680;
        text-align: center
    }
}

a {
    color: rgba(122, 181, 232, 0.85);
}
ul {
    margin: 0;
}
ul.dashed {
    list-style-type: none;
}
ul.dashed > li {
    text-indent: -5px;
}
ul.dashed > li:before {
    content: "*";
    text-indent: -5px;
}
