<div class="tap-card" [ngClass]="'tap-color-' + ((tapNum % 4) + 1)">
    <form name="tap-form" (submit)="submitTap()">
            <div class="edit-header">
            <span class="fa fa-times delete" (click)="deleteTap()" *ngIf="info.TapId"></span>
            <span class="fa fa-pencil edit" (click)="editing=true" *ngIf="!editing"></span>
        </div>
        <div class="tap-info">
            <ng-container *ngIf="!editing">
                <h2 class="tap-title">
                    {{info.TapName}}
                </h2>
                <p class="tap-desc">{{info.Description}}</p>
            </ng-container>
            <ng-container *ngIf="editing">
                <input type="text" class="styled tap-title" name="tap-title" placeholder="Tap Name" [(ngModel)]="info.TapName">
                <input type="text" class="styled tap-desc" name="tap-desc" placeholder="Tap Description" [(ngModel)]="info.Description">
            </ng-container>
        </div>

        <ng-container *ngIf="tapSession?.Keg?.Beer?.BeerId">
            <div class="beer-info">
                <h3 class="beer-title">
                    <a [routerLink]="'/info/beer/' + tapSession?.Keg?.Beer?.BeerId">{{tapSession?.Keg?.Beer?.BeerName}}</a>
                </h3>
                <div class="rating">
                    <i class="fa" [ngClass]="tapSession.NetVote >= 0 ? 'fa-thumbs-up' : 'fa-thumbs-down'"></i>
                    <span [ngClass]="tapSession.NetVote >= 0 ? 'text-success' : 'text-danger'">{{(tapSession.NetVote > 0 ? '+' : '') + tapSession.NetVote}}</span>
                </div>
                <ul class="beer-details">
                    <li>
                        <a *ngIf="tapSession?.Keg?.Beer?.Style?.StyleName" class="info-page-link" [routerLink]="['/info/style/', tapSession?.Keg?.Beer?.Style.StyleId]"><i>{{tapSession?.Keg?.Beer?.Style.StyleName}}</i></a>
                    </li>
                    <li>
                        <a *ngIf="tapSession?.Keg?.Beer?.Brewery?.BreweryName" class="info-page-link" [routerLink]="['/info/brewery/', tapSession?.Keg?.Beer?.Brewery.BreweryId]"><i>{{tapSession?.Keg?.Beer?.Brewery.BreweryName}}</i></a>
                    </li>
                </ul>

                <p class="beer-details-2">
                    <span *ngIf="tapSession?.Keg?.Beer?.ABV"><strong>ABV:</strong> <i>{{tapSession?.Keg?.Beer?.ABV}}%</i></span>
                    <span *ngIf="tapSession?.Keg?.Beer?.IBU"><i>{{tapSession?.Keg?.Beer?.IBU}}</i> IBU</span>
                    <span *ngIf="tapSession?.Keg?.Size"><i>{{tapSession?.Keg?.Size}} Barrel</i></span>
                </p>
            </div>
            <div class="keg-progress-bar">
                <div class="keg-progress-fill" [style.width]="getPercentFull() + '%'"></div>
            </div>

            <div class="text-center like-buttons" *ngIf="isLoggedIn">
                <button type="button" class="btn btn-outline-secondary" [ngClass]="tapSession.UserVote === -1 ? 'disabled active' : ''" (click)="vote('down')"><i class="fa fa-fw fa-thumbs-down"></i></button>
                <button type="button" class="btn btn-outline-secondary" [ngClass]="tapSession.UserVote === 1 ? 'disabled active' : ''" (click)="vote('up')"><i class="fa fa-fw fa-thumbs-up"></i></button>
            </div>
        </ng-container>


        <div class="edit-footer" *ngIf="editing">
            <button type="button" name="cancel" id="edit-cancel" class="btn btn-info btn-lg btn-block" (click)="editing=false">Cancel</button>
            <button type="submit" name="submit" id="edit-submit" class="btn btn-success btn-lg btn-block">Submit</button>
        </div>
    </form>
</div>

<section class="tap-handle hidden-md-down"> <!--parallax-scroll="-0.5"-->
    <img src="/assets/img/tap-handle.png">
    <div class="tap-image" *ngIf="getImage()">
        <a [routerLink]="'/info/beer/' + tapSession?.Keg?.Beer?.BeerId">
            <img src="{{getImage()}}" alt="beer image" />
        </a>
    </div>
</section>

