@import '~bootstrap/scss/bootstrap';
$fa-font-path: './fonts';
@import '~font-awesome/scss/font-awesome';
@import './scss/_variables';

html, body {
    min-width: 320px;
    background: #333;
}

input.styled {
    display: block;
    border: none;
    outline: none;
    background-color: transparent;
}