@import '~bootstrap/scss/bootstrap';
$fa-font-path: './fonts';
@import '~font-awesome/scss/font-awesome';
@import './scss/_variables';

html, body {
    min-width: 320px;
    background: linear-gradient( rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4) ), url('assets/img/brick.jpg');
}
